body {
  color: #000000;
  background-color: #ffffff;
}

#content {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 5em;
  text-align: center;
  overflow: auto;
  height: 60%;
}

#name {
  text-transform: capitalize;
  /*font-size: 2em;*/
  text-align: center;
}

#cta {
  text-align: center;
  overflow: hidden;
}

#cta .store {
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
}

/*#cta .store.android img {
  height: 40px;
  width: 103px;
}*/

#cta .store.android {
    font-size: .25em;
}

#cta .store.ios {
  font-size: .25em;
}

#cycle {
    margin-top: 25px;
    font-size: .7em;
    /*text-align: center;*/
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 15px;
  left: 0;
}

.google {
  font-style: italic;
}
